.profile-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
  justify-items: center;
  margin-bottom: 50px;
}

.profile-title {
  margin: 50px;
  font-size: 4.4rem;
  font-weight: 700;
  text-align: center;
  grid-column: 2 / 3;
  color: #5795fd;
}

.addService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.addService button {
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}
.addService button:hover {
  background-color: #5795fd;
}

.update-edit_title {
  color: #5795fd;
  font-size: 3.2rem;
  margin-bottom: 10px;
}
