.profile-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
  justify-items: center;
}

.profile-title {
  text-align: center;
  grid-column: 2 / 3;
}

.addService {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}
