.profile-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
  justify-items: center;
}

.profile-title {
  text-align: center;
  grid-column: 2 / 3;
}

.addService {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  font-size: 1.8rem;
}

.addService button {
  margin: 0 auto;
  display: block;
}
.addService button:hover {
  background-color: #5795fd;
}
